---
layout: default
mermaid: true
---

{% include mermaid.html %}

<article class="about">
  <header class="about__hero">
    <div class="about__hero-content">
      <div class="about__avatar">
        <img src="{{ site.baseurl }}/assets/profile/profile-logo.png" alt="{{ site.data.personal.name }}">
      </div>
      <div class="about__intro">
        <h1 class="about__name">{{ page.title }}</h1>
        <p class="about__role">{{ site.data.personal.role }}</p>
        <blockquote class="about__tagline">
          "{{ site.data.personal.tagline }}"
        </blockquote>
        <div class="about__social">
          <a href="{{ site.data.personal.social.linkedin.url }}" class="about__social-link" target="_blank" rel="noopener">
            {% include icon-linkedin.html %}
            LinkedIn
          </a>
          <a href="{{ site.data.personal.social.github.url }}" class="about__social-link" target="_blank" rel="noopener">
            {% include icon-github.html %}
            GitHub
          </a>
        </div>
      </div>
    </div>
  </header>

  <div class="about__content">
    {{ content }}
  </div>
</article>
